adf-project-demo1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-project-demo1"
		},
		"LS_AnalyticsDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AnalyticsDB'"
		},
		"LS_RawDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_RawDB'"
		},
		"LS_AnalyticsDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "adfprojectserver123.database.windows.net"
		},
		"LS_AnalyticsDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AnalyticsDB"
		},
		"LS_AnalyticsDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		},
		"LS_RawDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "adfprojectserver123.database.windows.net"
		},
		"LS_RawDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RawDB"
		},
		"LS_RawDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Controlled_Sales_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set_RunId",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_RunId",
							"value": {
								"value": "@pipeline().RunId\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_TriggerType",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set_RunId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_TriggerType",
							"value": {
								"value": "@pipeline().TriggerType\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SP_Insert_Audit_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set_CurrentTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertAuditStart]",
							"storedProcedureParameters": {
								"LoadStartTime": {
									"value": "",
									"type": "DateTime"
								},
								"RunId": {
									"value": "",
									"type": "String"
								},
								"TriggerType": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AnalyticsDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set_CurrentTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set_TriggerType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_CurrentTime",
							"value": {
								"value": "@utcNow()\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Check_Manual_Trigger",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SP_Insert_Audit_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('v_TriggerType'),'Manual')\n",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy_Sales_Source_To_Target",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Sales_Source",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Sales_Target",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "SP_Update_Audit_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_Sales_Source_To_Target",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[InsertAuditEnd]",
										"storedProcedureParameters": {
											"LoadEndTime": {
												"value": {
													"value": "@utcNow()\n",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"RunId": {
												"value": {
													"value": "@variables('v_RunId')\n",
													"type": "Expression"
												},
												"type": "String"
											},
											"Status": {
												"value": {
													"value": "Success\n",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AnalyticsDB",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Fail_Manual_Run",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Manual execution is not allowed.",
										"errorCode": "MANUAL_RUN_BLOCKED"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_RunId": {
						"type": "String"
					},
					"v_TriggerType": {
						"type": "String"
					},
					"v_CurrentTime": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-17T19:39:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AnalyticsDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_Sales_Source')]",
				"[concat(variables('factoryId'), '/datasets/DS_Sales_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_Customers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_LastLoadDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Raw_Watermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup_LastLoadDate",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n'SELECT * FROM Customers WHERE CreatedDate > ''',\nactivity('Lookup_LastLoadDate').output.firstRow.LastLoadDate,\n''''\n)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Raw_Customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Analytics_Customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-12T13:42:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Raw_Watermark')]",
				"[concat(variables('factoryId'), '/datasets/DS_Raw_Customers')]",
				"[concat(variables('factoryId'), '/datasets/DS_Analytics_Customers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Incremental_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT LastWatermarkValue \nFROM WatermarkTable\nWHERE TableName = 'SourceOrders'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Raw_Watermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-16T12:15:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Raw_Watermark')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Analytics_Customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AnalyticsDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AnalyticsDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Raw_Customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_RawDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_RawDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Raw_Watermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AnalyticsDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "LastLoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "WatermarkTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AnalyticsDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sales_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AnalyticsDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Amount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "LastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sales_Source"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AnalyticsDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sales_Target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AnalyticsDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Amount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "LoadTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LoadedBy",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sales_Target"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AnalyticsDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AnalyticsDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AnalyticsDB_properties_typeProperties_server')]",
					"database": "[parameters('LS_AnalyticsDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AnalyticsDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AnalyticsDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_RawDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_RawDB_properties_typeProperties_server')]",
					"database": "[parameters('LS_RawDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_RawDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_RawDB_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}